.week {
  margin-bottom: 20px;
}

.weekTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.day {
  margin-bottom: 15px;
}

.dayNumber {
  font-weight: bold;
  margin-right: 10px;
}

.lessonTitle {
  list-style: none;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.number {
  width: 30px;
}

.time_lesson {
  width: 100px;
}

.editableField {
  margin: 0 5px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
