/* TeacherSearch.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "GolosText-Regular";
}

.input {
    padding: 10px;
    margin: 10px;
    width: 300px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.listItem {
    padding: 10px;
    margin: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.listItem:hover {
    background-color: #e9e9e9;
}

.notFound {
    color: red;
    margin-top: 10px;
}
